body{
	background-color: aliceblue;
	display:flex;
	flex-direction: column;
	align-items: center;
/*	justify-content: center;*/
	min-height: 100vh;
	margin: 0;
}
header{
/*	position: fixed;*/
}
footer {
    position: fixed;
    bottom: 5%;      /* 下からの位置 */
    left: 50%;       /* 画面の左から50%の位置に移動 */
    transform: translateX(-50%); /* 自分の幅の半分だけ左に戻す（これでピッタリ中央！） */
    
}